[Unit]
Description=wishlist
After=network.target

[Service]
Type=simple
User=wishlist
Group=wishlist
WorkingDirectory=/home/wishlist/
ExecStart=/usr/bin/wishlist server --config ./config.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
