[Unit]
Description=Starcharts
After=network.target

[Service]
Environment=PORT=3100
Environment=GITHUB_TOKEN={{ starcharts_github_token }}
Type=simple
User=root
WorkingDirectory=/root/
ExecStart=/usr/local/bin/starcharts
Restart=on-failure

[Install]
WantedBy=multi-user.target
