[Unit]
Description=Starcharts
After=network.target

[Service]
Environment=LISTEN=127.0.0.1:3100
Environment=GITHUB_TOKENS={{ starcharts_github_tokens }}
Type=simple
User=root
WorkingDirectory=/root/
ExecStart=/usr/local/bin/starcharts
Restart=on-failure

[Install]
WantedBy=multi-user.target
