[Unit]
Description=Caddy
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/caddy run -config /etc/Caddyfile
Restart=on-failure

[Install]
WantedBy=multi-user.target
