[Unit]
Description=Confettysh
After=network.target
After=getty@tty2.service

[Service]
Environment=CONFETTYSH_HOST=c.caarlos0.dev
Type=simple
User=confettysh
Group=confettysh
WorkingDirectory=/home/confettysh/
ExecStart=/usr/local/bin/confettysh
Restart=on-failure
StandardOutput=tty
StandardError=tty
StandardInput=tty
TTYPath=/dev/tty2

[Install]
WantedBy=multi-user.target
