[Unit]
Description=Confettysh Confetti
After=network.target

[Service]
Type=simple
User=confettysh
Group=confettysh
WorkingDirectory=/home/confettysh/
ExecStart=/usr/local/bin/confettysh
Restart=on-failure

[Install]
WantedBy=multi-user.target
