[Unit]
Description=Confettysh Fireworks
After=network.target

[Service]
Environment=CONFETTYSH_HOST=f.caarlos0.dev CONFETTYSH_PORT=2223 CONFETTYSH_EFFECT=fireworks
Type=simple
User=confettysh
Group=confettysh
WorkingDirectory=/home/confettysh/
ExecStart=/usr/local/bin/confettysh
Restart=on-failure

[Install]
WantedBy=multi-user.target
